---
layout: home
author_profile: true
header:
  #overlay_color: "#000"
  #overlay_filter: "0.5"
  #image: /assets/images/caecom-landing.jpg ##frank-wyllys-cabral-lira-gTx_i_P3nNM-unsplash.jpg
  image: /assets/images/caecom-landing.png
  #caption: "Photo credit: [**Frank Wyllys Cabral Lira**](https://unsplash.com/photos/gTx_i_P3nNM)"

feature_row:
  - image_path: assets/images/caecom-page.png
    alt: "História do Centro Acadêmico"
    title: "Institucional"
    excerpt: "A história de formação do Centro Acadêmico, do seu estatuto e das gestões."
    url: "/sobre"
    btn_label: "Leia mais"
    btn_class: "btn--primary"
  - image_path: assets/images/eng_comp_logo.png
    title: "A graduação"
    excerpt: "Sobre o curso de Engenharia da Computação na UFAM."
    url: "/curso"
    btn_label: "Leia mais"
    btn_class: "btn--primary"
  - image_path: assets/images/chapa-turing-2020.png
    title: "Administração"
    excerpt: "Quem são os atuais membros da diretoria do Centro Acadêmico."
    url: "/diretoria"
    btn_label: "Leia mais"
    btn_class: "btn--primary"


---
{% include navigation.html %}


{% include feature_row %}
